@font-face {
    font-family: 'Roboto';
    /* For navbar txt, header paragraph, "Our Story" paragraph, "watch our story" text, "Expertise" grid headings and text, "Meet Our Amazing Team" grid headings and text, "Become part of our dream team" paragraph, all footer headings and text */
    src: url('./res/font/roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay Regular';
    /* For "Expertise" paragraph, "Meet Our Amazing Team" paragraph */
    src: url('./res/font/playfairdisplay-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay Black';
    /* For header heading */
    src: url('./res/font/playfairdisplay-black.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay Bold';
    /* For "Our Story" heading, "Expertise" heading, "Meet Our Amazing Team" heading, "Give Us Good News" heading, "Our Happy Clients" heading */
    src: url('./res/font/playfairdisplay-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'HammersmithOne';
    /* For button text */
    src: url('./res/font/hammersmithone-regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

.container {
    position: relative;
    background-image: url('./res/img/bgk-header.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* Add other styling here */
}

.navlogowrap {
    display: flex;
    align-items: center;
    /* TODO Change this to be in the middle */
    position: fixed;
    top: 0;
    left: 0;
}

.navlogowrap img {
    max-width: 100px;
    margin-right: 10px;
}

#gradient-text {
    font-family: 'Roboto';
    background: linear-gradient(to right, #00e0d0, #4aa3cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
    padding-left: 20px;
}

a {
    display: flex;
    flex-direction: row;
    font-family: url(./res/font/roboto.ttf);
    text-decoration: none;
}

header {
    border: solid 2px orange;
    text-align: center;
    color: white;
}

body {
    min-height: 100vh;
    min-width: 200vh;
}

.contact-form {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;

}

.contact-details {
    text-align: left;
    width: 50%;
}

.contact-form h2,
.happy-customers h2 {
    margin-bottom: 10px;
    width: 50%
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-start;
}

.happy-customers {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%
}

.client-logos svg {
    flex-direction: column;
    display: flex;
    width: 100px;
    margin: 10px;
    height: 15%
}

/* Style the footer */
.page_footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: url(./res/font/roboto.ttf);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(./design-assets/bgk-footer.png);
    font-family: git;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.brand-info {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.brand-info img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    display: flex;

    align-items: left;
    font-family: 'Roboto';
    background: linear-gradient(to right, #00e0d0, #4aa3cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
    padding-left: 20px;

}

nav ul {
    list-style: none;
    display: flex;
    margin:
}

nav ul li {
    margin-bottom: 10px;
}

.footer_links {
    display: flex;
    margin-bottom: 10px;
    list-style-type: none;
    flex-direction: row;
}

.our-studio {
    flex: 1;
    text-align: left;
}

.stay-in-touch {
    flex: 1;
    text-align: left;
}

.stay-in-touch button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.stay-in-touch .social-media {
    display: flex;
    justify-content: space-between;
}

.stay-in-touch .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

.copyright {
    margin-top: 20px;
}


@media (max-width: 480px) {}

@media (max-width: 768px) {}