@font-face {
    font-family: 'Roboto'; /* For navbar txt, header paragraph, "Our Story" paragraph, "watch our story" text, "Expertise" grid headings and text, "Meet Our Amazing Team" grid headings and text, "Become part of our dream team" paragraph, all footer headings and text */
    src: url('./res/font/roboto.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay Regular'; /* For "Expertise" paragraph, "Meet Our Amazing Team" paragraph */
    src: url('./res/font/playfairdisplay-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay Black'; /* For header heading */
    src: url('./res/font/playfairdisplay-black.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay Bold'; /* For "Our Story" heading, "Expertise" heading, "Meet Our Amazing Team" heading, "Give Us Good News" heading, "Our Happy Clients" heading */
    src: url('./res/font/playfairdisplay-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'HammersmithOne'; /* For button text */
    src: url('./res/font/hammersmithone-regular.ttf') format('truetype');
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    
}
.navcontainer {
    background-image: url('./res/img/bgk-header.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.navlogowrap {
    display: flex;
    align-items: center; /* TODO Change this to be in the middle */
    position: fixed;
    border: solid 2px cyan;
}

.navlogowrap img {
    max-width: 100px;
    margin-right: 10px;
}
.navlinkwrap {
    display:inline;
    border: solid 2px magenta;
}
#nav-gradient-text {
    font-family: 'Roboto';
    font-size: 2.5em;
    background: linear-gradient(to right, #00e0d0, #4aa3cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: xx-large;
    padding-left: 20px;
}
#navtop {
    font-family: 'Roboto';
    border: solid 2px green;
    display: flex;
}
#navtop a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.08em; /* 13pt */
}
#headertop {
    border: solid 2px orange;
    text-align: center;
    color: white;
}
#headertop p {
    font-family: 'Roboto';
    font-size: 1.16em; /* 14pt */
}
#headertop h1 {
    font-family: 'PlayfairDisplay Black';
    font-size: 2em;
}
#headertop button {
    font-family: 'HammersmithOne';
    font-size: 1em;
    color: #26dfce;
    background-color: transparent;
    border: solid 1px #26dfce;
    border-radius: 3px;
    padding: 1%;
}
body {
    min-height: 100vh;
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
}
